

<h1> House </h1>
<h2><%= @house.squareft %></h2>
<h2><%= @house.street %></h2>
<h2><%= @house.city %></h2>
<h2><%= @house.state %></h2>
<h2><%= @house.zipcode %></h2>
<h2><%= @house.bedrooms %></h2>
<h2><%= @house.bathrooms %></h2>
<h2><%= @house.price %></h2>
<h2><%= @house.description %></h2>
<%= link_to 'Index', admin_houses_path %>


